.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, $linear-gradient 1.39%, $white 100%);
  min-height: 104px;
  padding: 16px;

  @media (min-width: $min-tablet-width) {
    padding: 24px;
  }
}

.footer__text {
  @include reset;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  opacity: 0.72;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $min-tablet-width) {
    flex: 1 1 30%;
    text-align: justify;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }

    &--align-right {
      text-align: right;
    }
  }
}