.main__services {
  padding-bottom: 24px;
  border-bottom: 1px solid $border-header;

  @media(min-width: $min-tablet-width) {
    padding-bottom: 0;
  }
}

.main__brands {
  border-bottom: 1px solid $border-header;

  @media(min-width: $min-tablet-width) {
    align-self: flex-end;
  }
}

.main__repair {
  border-bottom: 1px solid $border-header;

  @media(min-width: $min-tablet-width) {
    align-self: flex-end;
  }
}

.main__price {
  border-bottom: 1px solid $border-header;

  @media(min-width: $min-tablet-width) {
    align-self: flex-end;
  }
}
