.services {
  background-color: $background;
  
  @media(min-width: $min-desktop-width) {
    padding-top: 10px;
  }
}

.services__title {
  @include reset;
  color: $font-color-black;
  font-size: 28px;
  line-height: 40px; 
  font-weight: 700;
  letter-spacing: -0.6px;
  padding: 24px 16px;

  @media(min-width: $min-tablet-width) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media(min-width: $min-desktop-width) {
    position: relative;
    width: 40%;
    padding-right: 100px;
    z-index: 2;
  }
}

.services__list {
  @include reset;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 16px 24px 16px;

  &::-webkit-scrollbar {
    height: 0;
  }

  @media(min-width: $min-tablet-width) {
    padding-left: 24px;
    padding-bottom: 32px;
  }

  @media(min-width: $min-desktop-width) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.services__item-link {
  display: inline-flex;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-decoration: none;
  padding: 8px 16px;
  transition: all ease 0.3s;

  &--current {
    border: 2px solid $border-link;
    border-radius: 6px;
  }

  @media(any-hover) {
    &:not(.services__item-link--current):hover {
      outline: 2px solid $button;
      outline-offset: -2px;
      border-radius: 6px;
    }
  }
}

.services__content {
  color: $font-color-black;
  font-size: 14px;
  line-height: calc(18 / 14 * 100%);

  @media(min-width: $min-tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    line-height: calc(20 / 14 * 100%);
    padding-left: 24px;
    padding-right: 24px;
  }
}

.services__text-content {
  height: auto;
  max-height: 92px;
  overflow: hidden;
  padding: 0 16px;
  transition: all ease 0.5s;

  @media(min-width: 470px) {
    & p:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  @media(min-width: $min-tablet-width) {
    grid-column: 1 / 2;
    max-height: 160px;
    padding-left: 24px;

    & p:not(:last-child) {
      margin-bottom: 23px;
    }

    @media(min-width: $min-desktop-width) {
      padding-left: 0;
    }
  }

  @media(min-width: 840px) {
    max-height: 180px;
  }

  @media(min-width: 915px) {
    max-height: 200px;
  }

  & p {
    @include reset;
    padding-right: 17px;

    @media(min-width: $min-tablet-width) {
      padding-right: 30px;
    }
  }

  &--visible {
    max-height: 200px;

    @media(min-width: $min-tablet-width) {
      max-height: 400px;
    }
  }
}

.services__button {
  position: relative;
  padding-left: 46px;
  margin-bottom: 16px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background: url("../img/icons/btn-arrows.svg") no-repeat;
    top: 7px;
    left: 23px;
    width: 8px;
    height: 15px;
    transition: transform ease-in 0.8s;
    transform: rotate(540deg);
    cursor: pointer;
  }

  &--rotate::before {
    top: 12px;
    transform: rotate(0);
  }

  @media(min-width: $min-tablet-width) {
    grid-row: -1 / 2;
    transform: translateY(-150%);
    transition: transform ease 0.8s;

    &--bottom {
      transform: translateY(0);
      transition: transform ease 0.3s;
    }
  }

  @media(min-width: 940px) {
    visibility: hidden;
    opacity: 0;
    transition: all ease 1s;
  }
}

.services__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media(min-width: $min-tablet-width) {
    grid-column: 2 / 3;
  }
}