.services {
  background-color: $background;
  border-bottom: 1px solid $border-header;
  padding-bottom: 24px;

  @media(min-width: $min-tablet-width) {
    padding-bottom: 32px;
  }

  @media(min-width: $min-desktop-width) {
    padding-top: 10px;
  }
}

.services__title {
  @include reset;
  color: $font-color-black;
  font-size: 28px;
  line-height: 40px; 
  font-weight: 700;
  letter-spacing: -0.6px;
  padding: 24px 16px;

  @media(min-width: $min-tablet-width) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media(min-width: $min-desktop-width) {
    position: relative;
    width: 40%;
    padding-right: 100px;
    z-index: 2;
  }
}

.services__list {
  @include reset;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 16px 24px 16px;

  &::-webkit-scrollbar {
    height: 0;
  }

  @media(min-width: $min-tablet-width) {
    padding-left: 24px;
    padding-bottom: 32px;
  }

  @media(min-width: $min-desktop-width) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.services__item-link {
  display: inline-flex;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-decoration: none;
  padding: 8px 16px;
  transition: all ease 0.3s;

  &--current {
    border: 2px solid $border-link;
    border-radius: 6px;
  }

  @media(any-hover) {
    &:not(.services__item-link--current):hover {
      outline: 2px solid $button;
      outline-offset: -2px;
      border-radius: 6px;
    }
  }
}

.services__content {
  color: $font-color-black;
  font-size: 14px;
  line-height: 18px;

  @media(min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    padding: 0 24px;
  }
}

.services__text-content {
  padding: 0 16px;
  margin-bottom: 7px;

  @media(min-width: $min-tablet-width) {
    width: 50%;
    padding: 0;
    padding-right: 45px;
  }

  @media(min-width: $min-desktop-width) {
    max-height: 170px;
  }
}

.services__text-body {
  position: relative;
  max-height: 90px;
  overflow: hidden;
  transition: all ease-out 0.4s;

  @media(min-width: $min-tablet-width) {
    max-height: 169px;
  }
}

.services__text {
  @include reset;
  padding-right: 11px;

  &:not(:last-child) {
    margin-bottom: 24px;
  };

  @media(min-width: $min-tablet-width) {
    padding-right: 20px;
  }
}

.services__text-bottom {
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    $background 80%
  );
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}

.services__button {
  position: relative;
  transition: top ease-in-out 0.2s;

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $darkGrey;
    opacity: 0.5;
    transition: width 0.3s ease-out;
  }

  @media(any-hover) {
    &:hover::after {
      width: 80%;
    }
  }
}

.services__button svg {
  transform: rotate(180deg);
  transition: transform ease-in-out 0.8s;
  margin-right: 16px;
}

.services__button .svg-rotate {
  transform: rotate(0deg);
  transition: transform ease-in-out 0.8s;
}

.services__button-toggle {
  display: none;
  appearance: none;
  opacity: 0;
  visibility: hidden;
}

.services__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media(min-width: $min-tablet-width) {
    width: 50%;
  }
}